#wrapper {
    margin: 0 auto;
    max-width: 1280px;
    background-color: white;

}

p {
    font-family: Calibri, sans-serif;
}

h1,
h2,
h3 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

h4 {
    font-family: Poppins, sans serif;
    font-weight: 300;
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #E83B3B;

}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 50%;
}

/* Fin HEADER */

#main {
    width: 90%;
    height: 70%;
    margin: 5%;
    padding: 1%;
    border: solid 0.02em #141735;
    border-radius: 0% 0.93em 0.93em 0%;
}

.log {
    background-color: #ffffff;
    border: solid 0.02em #141735;
    cursor: pointer;
    width: 9em;
    height: 2em;
    border-radius: 0% 0.93em 0.93em 0%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.log:hover {
    background-color: #FECC36;
}

#login {
    padding: 2%;
    display: flex;
    justify-content: space-around;
}

/* NAVIGATION */
.navli {
    font-family: Poppins, sans serif;
    font-weight: 400;
    color: inherit;
}

.navli:hover {
    color: #E83B3B;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    color: inherit;

}

#navigation {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    background-color: rgb(226, 226, 226)
}

/* FIN NAV */

/* FORMULAIRE */
#formAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addForm {
    margin: 2%;
}

.form-group {
    margin-bottom: 10px;
}

.form_group_message {
    width: 300px;
    text-align: right;
}

label {
    display: inline-block;
    width: 200px;

}

#loginForm {
    border-top: solid 0.02em #141735;
    margin: 2%;
}

.btn-envoyer {
    float: right;
    background-color: #ffffff;
    border: solid 0.02em #141735;
    cursor: pointer;
    width: 9em;
    height: 2em;
    border-radius: 0% 0.93em 0.93em 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-envoyer:hover {
    background-color: #FECC36;
}

.btn-envoyer-index {
    float: right;
    background-color: #ffffff;
    border: solid 0.02em #141735;
    cursor: pointer;
    width: 20em;
    height: 2em;
    border-radius: 0% 0.93em 0.93em 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.btn-envoyer-index:hover {
    background-color: #FECC36;
}

.lien-envoyer-index:hover {
    color: #141735;
}

/* FOOTER */
footer {
    text-align: center;
}

#menuFooter {
    text-align: left;

}

#listFooter {
    border-bottom: #141735 solid 0.02em;
    border-top: #141735 solid 0.02em;
    list-style-type: none;
}

/* FIN FOOTER */

/* Menu burger */

/* Question */
td {
    margin: 1%;
}

input.textQuestion {
    width: 20em;
}

textarea {
    width: 20em;
    height: 7.5em;
}

tr.impair {
    background-color: rgb(235, 233, 233);
}

tr.pair {
    background-color: #ffffff;

}

.svgClickable {
    width: 20px;
    display: block;
    margin: auto;
    cursor: pointer
}

.svgClickable:hover {
    fill: #FECC36;
}

path.iconeColor {
    fill: #141735;
}

path:hover {
    fill: #FECC36;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: #141735 0.02em solid;
    border-top: #141735 0.02em solid;
}

.logQuestion {
    width: 120px;
}

.categoryIndex {
    text-align: center;
}

.tabQuestion {
    text-align: center;

}

.btn-style {
    margin: 0.5%;
    width: 170px;


}

.catSelect {
    background-color: #ffffff;
    border: solid 0.02em #141735;
    border-radius: 0% 0.93em 0.93em 0%;
}

#homePage {
    display: flex;
    justify-content: space-around;

}

.home {
    border: #141735 solid 0.02em;
    border-radius: 0% 0.93em 0.93em 0%;
    margin: 2%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.homeContent {
    display: flex;
    flex-direction: column;

}

.content {
    border-top: #e0dede solid 0.02em;
    background-color: #ffffff;
}

.titleHome {
    text-align: center;
}

.textContent {
    word-spacing: 0.1em;
    line-height: 1.5em;
}

#searchFormQues,
#searchFormCat {
    margin: 2%;
}